* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #222629;
  --secondary-bg-color: #474b4f;
  --third-bg-color: #6b6e70;
  --main-font-color: #86c232;
  --secondary-font-color: #61892f;
}

html {
  scroll-padding-top: 100px;
}

a {
  text-decoration: none !important;
}

img {
  height: 200px;
  max-width: 100%;
}

.navbar-button {
  width: 5rem;
}

.navbar-custom {
  height: 100px;
  background-color: var(--secondary-bg-color);
  color: var(--main-font-color);
}

.navbar-custom a {
  color: var(--main-font-color);
}

.navbar-custom a:hover {
  color: var(--secondary-font-color);
}

main {
  position: relative;
  top: 100px;
}

.welcome-section {
  height: calc(100vh - 100px);
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.welcome-section img {
  border-radius: 50%;
}

.summary-section {
  min-height: calc(100vh - 100px);
  height: auto;
  background-color: var(--secondary-bg-color);
  color: var(--main-font-color);
}

.summary-section p {
  font-size: 1.5rem;
  margin-bottom: 0;
}

.project-section {
  min-height: calc(100vh - 100px);
  height: auto;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
}

.card h5 {
  margin-bottom: 0;
  text-align: center;
}

.card {
  margin: 1rem;
  width: 18rem;
}

.project-section a:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.card-body img {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 5px 0 0;
}

.card-body i {
  margin-left: 10px;
}

.container .card {
  background-color: var(--main-bg-color);
}

.card-border {
  border-radius: 2px;
  border-color: var(--secondary-bg-color);
}

.project {
  background-color: var(--secondary-bg-color);
  color: var(--main-font-color);
}

.project h3 {
  margin-bottom: 0;
}

.project-header {
  border-bottom: 3px solid var(--main-font-color);
}

#contact-section {
  height: calc(100vh - 100px);
  background-color: var(--secondary-bg-color);
  color: var(--main-font-color);
}

#contact-section a {
  color: var(--main-font-color);
  font-size: 1.5rem;
}

#contact-section a:hover {
  color: var(--secondary-font-color);
}

@media screen and (max-width: 480px) {
  #contact-section a {
    font-size: 1rem;
  }
  .project-section h2 {
    font-size: 1.5rem;
  }
}
